@page
@model IndexModel
@{
    ViewData["Title"] = "Pilkkikilpailu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa pilkkimään!</h1>
    
    <img src="~/img/icefishing.png" width="300px">

    <p>Yleinen kaiken kalan pilkkikisa lauantaina 26.3.2020
klo 9-14 ilmoittautuminen alkaa klo 8:00. Voit myös ilmoitautua valmiiksi nettisivuillamme!<br><br>

Sointulan veneranta, Valkeakoski.<br>
Paikalla buffetti (kahvia, makkaraa, juomia)
</p>

</div>
