@page
@model pilkkikilpailu.Pages.SaannotModel
@{
}

<h1>Säännöt</h1>

<p>1 &sect; Suomen pilkkimestaruuskilpailut ovat avoimet kaikille pilkinn&auml;n harrastajille. Kilpailussa kilpaillaan seuraavissa sarjoissa:</p>

<p>a) Henkil&ouml;kohtaisista mestaruuksista:</p>

<p>&ndash; miesten sarjassa (20 &ndash; 59 vuotiaat miehet)<br />
&ndash; miesveteraanien sarjassa, 60 &ndash; 69 vuotiaat<br />
&ndash; miesveteraanien sarjassa, 70 &ndash; 79 vuotiaat<br />
&ndash; miesveteraanien sarjassa yli 80 v.</p>

<p>&ndash; naisten sarjassa (20 &ndash; 59 vuotiaat naiset)<br />
&ndash; naisveteraanien sarjassa, 60 &ndash; 69 vuotiaat<br />
&ndash; naisveteraanien sarjassa, 70 &ndash; 79 vuotiaat<br />
&ndash; naisveteraanien sarjassa yli 80 v.</p>

<p>&ndash; alle 19-vuotiaiden poikien sarjassa<br />
&ndash; alle19-vuotiaiden tytt&ouml;jen sarjassa<br />
&ndash; alle 15-vuotiaiden poikien sarjassa<br />
&ndash; alle 15-vuotiaiden tytt&ouml;jen sarjassa<br />
&ndash; alle 12 -vuotiaiden sarjassa (yhteinen sarja tyt&ouml;ille ja pojille).</p>

<p>Alle 19-vuotiaiden sarjoissa kilpailevat kilpailuvuonna 19, 18, 17, 16 vuotta t&auml;ytt&auml;v&auml;t<br />
Alle 15-vuotiaiden sarjoissa kilpailevat kilpailuvuonna 15, 14, 13 vuotta t&auml;ytt&auml;v&auml;t<br />
Alle 12-vuotiaiden sarjassa kilpailevat kilpailuvuonna 12 vuotta t&auml;ytt&auml;v&auml;t ja nuoremmat.</p>

<p>Aikuisten sarjoissa kilpailuvuonna ik&auml;rajan saavuttavat kuuluvat vuoden alusta alkaen kyseiseen sarjaan.</p>

<p>b) Joukkuemestaruuksista Suomen Vapaa-ajankalastajien Keskusj&auml;rjest&ouml;&ouml;n kuuluvien seurojen kesken<br />
c) Perhesarjamestaruuksista<br />
d) Seurajoukkuemestaruudesta (paras seura)<br />
e) Piirien nuorten joukkuemestaruudesta (paras piiri)</p>

<p>Kilpailujen j&auml;rjestelyolosuhteiden niin vaatiessa voi keskusj&auml;rjest&ouml;n hallitus j&auml;rjest&auml;jien esityksest&auml; rajoittaa osanottajam&auml;&auml;r&auml;&auml;.</p>

<p>2 &sect; Henkil&ouml;kohtaisista mestaruuksista kilpailevat kaikki kilpailuun ilmoittautuneet kilpailijat, mutta Suomenmestaruus voidaan my&ouml;nt&auml;&auml; vain Suomen kansalaiselle, Suomessa vakituisesti asuvalle tai sellaiselle ulkomaalaiselle, joka on SVK:n tai sen j&auml;senseuran j&auml;sen.</p>

<p>3 &sect; Suomen Vapaa-ajankalastajien Keskusj&auml;rjest&ouml;n joukkuemestaruuksista kilpaillaan seuraavissa sarjoissa:<br />
&ndash; miesten joukkuekilpailu (4 kilpailijaa/ joukkue)<br />
&ndash; miesveteraanien joukkuekilpailu (4 kilpailijaa/ joukkue)<br />
&ndash; naisten joukkuekilpailu (3 kilpailijaa/ joukkue)<br />
&ndash; naisveteraanien joukkuekilpailu (3 kilpailijaa/ joukkue)<br />
&ndash; nuorten joukkuekilpailu (3 kilpailijaa/ joukkue) alle 19- ja 15-vuotiaiden sarjoissa kilpailevista</p>

<p>Joukkueiden tulee koostua ko. henkil&ouml;kohtaisten sarjojen kilpailijoista. (Kaikki joukkueiden j&auml;senet osallistuvat samalla my&ouml;s henkil&ouml;kohtaiseen kilpailuun.) Mies- ja naisveteraanijoukkueisiin saa kuulua kilpailijoita kaikista veteraanisarjoista.<br />
Joukkueiden osallistumism&auml;&auml;r&auml;&auml; ei rajoiteta. Kilpailuun nimetyn joukkueen tulee olla t&auml;ysilukuinen. Kaikkien joukkueen j&auml;senten on henkil&ouml;kohtaisesti palautettava kilpailun p&auml;&auml;tytty&auml; kilpailukorttinsa punnitsijoille tai kilpailun j&auml;rjest&auml;jien m&auml;&auml;r&auml;&auml;m&auml;&auml;n paikkaan (ns. O-kortit), muuten joukkuetulosta ei hyv&auml;ksyt&auml;.</p>

<p>Perhesarja: Perhejoukkueen tulee koostua 3-4 henkil&ouml;st&auml;, niin ett&auml; mukana on enint&auml;&auml;n kaksi huoltajaa ja 1-2 kilpailuvuonna 19 vuotta t&auml;ytt&auml;v&auml;&auml; tai nuorempaa lasta. Huoltajiksi hyv&auml;ksyt&auml;&auml;n vanhempien lis&auml;ksi my&ouml;s isovanhemmat ja sisarukset. Sukulaisuussuhdetta katsotaan vastaavan my&ouml;s avo- tai avioliiton my&ouml;t&auml; syntynyt sukulaisuus. Kaikkien joukkueen j&auml;senten on henkil&ouml;kohtaisesti palautettava kilpailun p&auml;&auml;tytty&auml; kilpailukorttinsa punnitsijoille tai kilpailun j&auml;rjest&auml;jien m&auml;&auml;r&auml;&auml;m&auml;&auml;n paikkaan (ns. O-kortit), muuten perhejoukkuetulosta ei hyv&auml;ksyt&auml;. Perhesarjaan osallistuvat eiv&auml;t voi osallistua muihin sarjoihin (henk.koht. tai joukkue).</p>

<p>Seurajoukkuemestaruus: seurajoukkuemestaruus ratkaistaan kunkin SVK:n seuran j&auml;senten yhteistuloksella.</p>

<p>Piirien nuorten joukkuemestaruus: mestaruus ratkaistaan kuhunkin SVK:n vapaa-ajankalastajien piiriin kuuluvien nuorten &ndash; eli henkil&ouml;kohtaisissa sarjoissa alle 19v, alle 15v ja alle 12v kilpailevien &ndash; yhteistuloksella.</p>

<p>4 &sect; Kilpailujoukkueet ja pelk&auml;st&auml;&auml;n henkil&ouml;kohtaiseen kilpailuun osallistuvat on ilmoittautumisen yhteydess&auml; nimett&auml;v&auml; erikseen. Mahdolliset muutokset ennakolta ilmoitettuihin joukkueisiin on teht&auml;v&auml; kirjallisesti kilpailukansliaan ennen kilpailun alkua j&auml;rjest&auml;j&auml;n ilmoittamaan m&auml;&auml;r&auml;aikaan menness&auml;. Alle 12-vuotiaiden sarjassa pilkkiv&auml;ll&auml; nuorella voi olla tukihenkil&ouml;. Tukihenkil&ouml; saa antaa kairausapua ja avustaa kalan irrottamisessa koukusta, mutta ei muuten fyysisesti osallistua pilkkimiseen. Tukihenkil&ouml; voi osallistua oman sarjansa kilpailuun. Saaliskaloja ei saa antaa tai vaihtaa nuoren ja tukihenkil&ouml;n &ndash; tai kenenk&auml;&auml;n muunkaan henkil&ouml;n &ndash; v&auml;lill&auml;.</p>

<p>5 &sect; Suomen Vapaa-ajankalastajien Keskusj&auml;rjest&ouml;n hallitus vahvistaa vuosittain kilpailun osanottomaksut.</p>

<p>6 &sect; Pilkkiminen on jokamiehenoikeus. Pilkkij&ouml;iden ei tarvitse maksaa kalastonhoitomaksua. Kilpailujen j&auml;rjest&auml;j&auml;ll&auml; on aina oltava kalavedenomistajan lupa.</p>

<p>7 &sect; Kilpailuaika on nelj&auml; (4) tuntia. Kilpailijat saavat siirty&auml; kilpailualueelle noin tuntia ennen kilpailun alkua suoritetun selostus- ja avajaistilaisuuden j&auml;lkeen l&auml;ht&ouml;luvan saatuaan. Varsinaisen kilpailun alkamis- ja p&auml;&auml;ttymishetki osoitetaan selv&auml;ll&auml; merkill&auml;. Kilpailijoiden on lopetettava kalastaminen p&auml;&auml;ttymismerkkiin, jonka j&auml;lkeen heill&auml; on tunti aikaa siirty&auml; merkitylle maalialueelle. Hyv&auml;ksytt&auml;v&auml;n saaliskalan on oltava kokonaan ilmassa aina kun er&auml;n loppumisen ilmoittava &auml;&auml;nimerkki p&auml;&auml;ttyy. Yliajalla saatu kala (joka on siis &auml;&auml;nimerkin j&auml;lkeen viel&auml; vedess&auml;) vapautetaan v&auml;litt&ouml;m&auml;sti takaisin veteen, eik&auml; sit&auml; saa laittaa saalispussiin.<br />
My&ouml;h&auml;styneiden kilpailijoiden saalista ei punnita. Siirtymisvaiheiden sek&auml; kilpailun aikana merkitylt&auml; kilpailualueelta poistuminen on sallittu vain punnituspisteen kautta. Kilpailun j&auml;rjest&auml;j&auml; on velvollinen j&auml;rjest&auml;m&auml;&auml;n punnitusmahdollisuuden ennen kilpailun virallista p&auml;&auml;ttymist&auml;.</p>

<p>8 &sect; Kilpailualue on selv&auml;sti merkitt&auml;v&auml; ja pilkkiminen t&auml;m&auml;n alueen ulkopuolella on kielletty. Varusteiden vieminen kilpailualueelle ennen kilpailua ja varusteiden j&auml;tt&auml;minen kilpailualueelle kilpailun j&auml;lkeen on kielletty. Toisen kilpailijan avustaminen kilpailutilanteessa kilpailun aikana on kielletty, paitsi h&auml;t&auml;tilanteissa (esim. avantoon putoaminen tai koukun tarttuminen ihoon, tai &auml;killisiss&auml; sairaustapauksissa) tai jos kilpailija on sairautensa tai vammansa vuoksi tuomarineuvoston p&auml;&auml;t&ouml;ksell&auml; oikeutettu avustajan k&auml;ytt&ouml;&ouml;n. Avustetun kilpailijan suoritus hyl&auml;t&auml;&auml;n, jos kilpailija avustuksen j&auml;lkeen ei p&auml;&auml;se itse omin avuin maaliin siirtym&auml;ajan puitteissa. T&auml;ll&ouml;in kilpailijan tulosta ei huomioida joukkuetulosta laskiessa, mutta joukkuetta ei hyl&auml;t&auml;. Jokainen kantaa/kuljettaa kaikki omat tavaransa itse. Repun nostaminen toisen selk&auml;&auml;n on kuitenkin sallittu.</p>

<p>Nostokoukun antaminen kanssakilpailijalle on sallittu, mutta kalan nostossa ei saa avittaa. Kilpailijan on nostettava kalansa itse.</p>

<p>Avannon teko viitt&auml; (5) metri&auml; l&auml;hemm&auml;ksi virallista hiihtolatua tai muuta siihen verrattavaa virallista uraa, esimerkiksi j&auml;rjest&auml;j&auml;n auraamaa kulku-uraa, on kielletty. Avannon teko (ellei toisin m&auml;&auml;r&auml;t&auml;) 50 metri&auml; l&auml;hemm&auml;ksi aurattuja tai merkittyj&auml; j&auml;&auml;teit&auml; sek&auml; virallisesti merkittyj&auml; pyydyksi&auml; on kielletty. Kiellon rikkoja on velvollinen, kilpailusta pois sulkemisen lis&auml;ksi, vaadittaessa maksamaan uuden tien aukaisemisen. Pilkkiminen ja rei&auml;n kairaaminen viitt&auml; (5) metri&auml; l&auml;hemm&auml;ksi avantoa, jossa joku toinen pilkkii, on kielletty. Edes kanssakilpailijan my&ouml;nt&auml;m&auml;ll&auml; luvalla ei saa pilkki&auml; t&auml;t&auml; s&auml;&auml;nn&ouml;iss&auml; m&auml;&auml;ritelty&auml; et&auml;isyytt&auml; l&auml;hemp&auml;n&auml;. Kiistatilanteessa kairaaminen tulee v&auml;litt&ouml;m&auml;sti keskeytt&auml;&auml; siihen asti, kun et&auml;isyys on luotettavasti mitattu (esim. kairaa tai mittanauhaa k&auml;ytt&auml;en). Pilkkij&auml; hallitsee vain yht&auml; avantoa kerrallaan ja avantoja ei voi varata ennen eik&auml; j&auml;lkeen pilkkimisen. Kilpailun aikana ter&auml;suojaamatonta j&auml;&auml;kairaa ei saa j&auml;tt&auml;&auml; lumelle tai j&auml;&auml;lle makaamaan, vaan se on kairattava pilkkimisen ajaksi pystyyn.</p>

<p>SM-pilkin esikisa j&auml;rjestet&auml;&auml;n tarvittaessa, mutta siten ett&auml; varsinaisen kisan ja esikisan v&auml;lill&auml; on v&auml;hint&auml;&auml;n kuukausi aikaa. SM-pilkin kisa-alue on t&auml;ysin rauhoitettu (pilkkiminen ja avantojen teko) 14 vrk ennen varsinaista SM-pilkki&auml;.<br />
Kilpailualueen takaraja tulee olla l&auml;hd&ouml;st&auml; maksimissaan 6 km p&auml;&auml;ss&auml;. Kilpailukartta tulee hyv&auml;ksytt&auml;&auml; SVK:n pilkkijaostolla hyviss&auml; ajoin jo kisaa edelt&auml;v&auml;n&auml; vuonna.<br />
Kilpailun j&auml;rjest&auml;j&auml; on velvollinen keli-olosuhteiden niin vaatiessa ja j&auml;&auml;tilanteen ja muiden turvallisuussyiden niin salliessa tekem&auml;&auml;n riitt&auml;v&auml;sti aurattuja reittej&auml; tai moottorikelkka-uria tasapuolisesti koko kilpailualueelle.<br />
J&auml;rjest&auml;jien toimesta kilpailualuetta on valvottava ja alueella olevat pyydykset on merkitt&auml;v&auml;. Lis&auml;ksi on suoritettava riitt&auml;v&auml; j&auml;&auml;tiedustelu.</p>

<p>9 &sect; Kaikuluotaimen, vedenalaisen kameran ja muiden vastaavien s&auml;hk&ouml;elektronisten tai moottorik&auml;ytt&ouml;isten apuv&auml;lineiden k&auml;ytt&ouml; on kielletty kilpailun aikana sek&auml; kilpailua edelt&auml;v&auml;n harjoittelukiellon aikana, pois lukien GPS-paikantimet (kaikki sarjat) ja akkukairat (veteraanisarjat). Puhelimen tekstiviesti- ja puheominaisuutta saa k&auml;ytt&auml;&auml; vain h&auml;t&auml;tilanteessa yleiseen tai j&auml;rjest&auml;jien h&auml;t&auml;numeroon. Tuomarineuvosto voi kuitenkin vamman tai sairauden vuoksi antaa luvan akkuporakonek&auml;ytt&ouml;isen kairan k&auml;ytt&ouml;&ouml;n my&ouml;s muissa sarjoissa. L&auml;&auml;k&auml;rintodistusta ei tarvitse en&auml;&auml; esitt&auml;&auml;. Akkuk&auml;ytt&ouml;isell&auml; kairalla saa kairata vain yhden avannon kerrallaan, eli uutta avantoa akkukairalla ei saa tehd&auml; ennen kuin kilpailija on itse pilkkinyt kairaamastaan avannosta. Akkukairassa ei saa turvallisuussyist&auml; olla akku kiinnitettyn&auml; siirtym&auml;vaiheissa eik&auml; ennen tai j&auml;lkeen kisan; akun saa kytke&auml; kairaan vasta ensimm&auml;iselle pilkkipaikalle saapuessa. Akku t&auml;ytyy irrottaa kairasta heti kisan p&auml;&auml;tytty&auml;, ennen siirtym&auml;vaiheen aloittamista.</p>

<p>10 &sect; Kilpailussa on jokaisella kilpailijalla oltava mukanaan j&auml;&auml;naskalit. Jokaisella kilpailuun osallistuvalla on oltava henkil&ouml;kohtainen j&auml;&auml;kaira. Alle 12 -vuotiailla j&auml;&auml;kaira ei ole pakollinen. L&auml;ht&ouml;- ja maalialueella liikuttaessa ja kilpailualueella siirtym&auml;aikana kairan ter&auml;n on oltava suojattuna. Kairan ter&auml;n suojuksen voi kuitenkin siirtymisen j&auml;lkeen poistaa jo ennen aloitusmerkki&auml;, kilpailijan valittua aloituspaikkansa. Lopetusmerkin j&auml;lkeen kairan ter&auml; on v&auml;litt&ouml;m&auml;sti suojattava uudelleen. Suojaamaton kaira on turvallisuussyist&auml; kairattava pystyyn. J&auml;&auml;t&auml; ei saa kuitenkaan l&auml;vist&auml;&auml; ennen aloitusmerkki&auml;.</p>

<p>11 &sect; Kilpailija saa k&auml;ytt&auml;&auml; vain yht&auml; (1) pilkki&auml; kerrallaan vedess&auml;. Kiellettyj&auml; ovat pilkit, joihin on kiinnitetty useampi kuin yksi (1) yksi- tai useampihaarainen koukku, poisluettuna tasapainopilkit, joissa sallitaan enint&auml;&auml;n kaksi (2) yksihaaraista kiintokoukkua ja rungon alapuolella oleva yksi- tai useampihaarainen irtokoukku, joka saa olla kiinnitettyn&auml; tasapainon vatsalenkkiin korkeintaan yhdell&auml; renkaalla tai hakasella. Koukku ei saa olla kiinnitettyn&auml; pilkin ja vavan v&auml;liseen siimaan Lis&auml;painojen k&auml;ytt&ouml; on sallittu, mutta painojen tulee sijaita koukun yl&auml;puolella. Mormuska rinnastetaan koukkuun. Kaikki sy&ouml;tit ovat sallittuja, pois lukien kaikenlaisten liima-, taikina- sek&auml; kalasy&ouml;ttien k&auml;ytt&ouml;. Kuolleelta kalalta poistettu silm&auml; on sen sijaan sallittu sy&ouml;tti. Sy&ouml;tin on oltava pilkin koukkuun pujotettuna. Sy&ouml;ttien niputtaminen koukun varteen tai pilkkiin kuminauhan tms. avulla on kielletty. Sy&ouml;ttej&auml; saa hajustaa. Houkuttimien ja hajusteiden kuten m&auml;skin, ryynien, matojen, toukkien tms. pudottaminen avantoon on kielletty kilpailun aikana sek&auml; kilpailua edelt&auml;v&auml;n harjoittelukiellon aikana. Kilpailualueella on liikuttava jalan, kilpailuv&auml;lineiden kuljettamiseen voi k&auml;ytt&auml;&auml; pulkkaa/ahkiota. Tuomarineuvosto voi my&ouml;nt&auml;&auml; liikuntarajoitteisille poikkeusluvan my&ouml;s muunlaiseen liikkumiseen, esim. potkurilla tai vastaavalla.</p>

<p>12 &sect; Kilpailukalaksi hyv&auml;ksyt&auml;&auml;n vain ahven. Muut kalat on punnituspaikalla oltava erill&auml;&auml;n punnittavista kaloista. J&auml;rjest&auml;j&auml;n on tuotava punnitusalueelle pressu tai muu paikka, jonka p&auml;&auml;ll&auml; kisaajat voivat tarkistaa kalansa ja erotella punnitukseen kelpaamattomat v&auml;&auml;r&auml;nlajiset kalat ennen kalojen seulalle vienti&auml;. Mik&auml;li muita kaloja tavataan, saalista ei punnita. Saaliiksi saatu kala suositellaan lopetettavaksi v&auml;litt&ouml;m&auml;sti ennen talteenottoa. Mit&auml;&auml;n kaloja ei saa j&auml;tt&auml;&auml; j&auml;&auml;lle. Lain m&auml;&auml;r&auml;&auml;m&auml;t alamittaiset kalat tulee laittaa takaisin avantoon. Muut kalat on tuotava erilliseen j&auml;rjest&auml;j&auml;n m&auml;&auml;r&auml;&auml;m&auml;&auml;n paikkaan tai laitettava takaisin avantoon. J&auml;rjest&auml;j&auml; ei ole velvollinen palauttamaan punnittuja kaloja kilpailijalle mutta kilpailija voi pyyt&auml;ess&auml; saada omat kalat k&auml;ytt&ouml;&ouml;ns&auml;.</p>

<p>13 &sect; Kilpailijoiden paremmuuden ratkaisee saaliin paino. Jos se on henkil&ouml;kohtaisten, perhe- tai joukkuesarjojen kohdalla sama, jaetaan mitalisija(t) ja j&auml;tet&auml;&auml;n seuraava(t) sija(t) jakamatta. Muiden kuin mitalisijojen kohdalla saaliin ollessa sama, sijoitus ratkaistaan arvalla.<br />
Kilpailun j&auml;rjest&auml;j&auml; on velvollinen huolehtimaan siit&auml;, ett&auml; jokaista vaakaa kohden on v&auml;hint&auml;&auml;n kaksi seulaa ja riitt&auml;v&auml; m&auml;&auml;r&auml; seulojia. Kaikkien kilpailijoiden kalat tulee seuloa ja sit&auml; on my&ouml;s valvottava.</p>

<p>14 &sect; Jokainen kilpailija osallistuu kilpailuun omalla vastuullaan.</p>

<p>15 &sect; Kilpailualueella h&auml;iritsev&auml; k&auml;ytt&auml;ytyminen on kielletty.</p>

<p>16 &sect; N&auml;iden edell&auml; esitettyjen kilpailus&auml;&auml;nt&ouml;jen rikkominen aiheuttaa ko. kilpailijan sek&auml; kilpailujoukkueen suorituksen hylk&auml;&auml;misen. P&auml;&auml;t&ouml;ksen hylk&auml;&auml;misest&auml; tekee tuomarineuvosto. Vakavan vilpin tilanteessa Suomen Vapaa-ajankalastajien Keskusj&auml;rjest&ouml;n kilpailutoimikunta voi asettaa lis&auml;seuraamuksia, joista on erikseen s&auml;&auml;detty SVK:n verkkosivuilta saatavissa olevassa ohjeistuksessa. Vakavaksi vilpiksi katsotaan kaikki tapaukset jotka ovat tahallisia ja johtavat kilpailusta pois sulkemiseen. J&auml;rjest&auml;j&auml; on velvollinen ilmoittamaan tapaukset SVK:n kilpailuasioista vastaavalle ty&ouml;ntekij&auml;lle.</p>

<p>17 &sect; Suomen Vapaa-ajankalastajien Keskusj&auml;rjest&ouml;n pilkkijaosto nime&auml;&auml; tuomarineuvoston. Tuomarineuvoston apuna valvontaty&ouml;n suorittajina toimivat kilpailun j&auml;rjest&auml;j&auml;n nime&auml;m&auml;t henkil&ouml;t. Kilpailua koskevat vastalauseet tulee j&auml;tt&auml;&auml; kirjallisina tuomarineuvostolle 15 minuutin kuluessa punnituksen p&auml;&auml;ttymisest&auml;. Tuomarineuvoston asiasta tekem&auml;st&auml; p&auml;&auml;t&ouml;ksest&auml; ei voi valittaa.</p>

<p>18 &sect; Kilpailuun ilmoittautumalla kilpailija sitoutuu noudattamaan kilpailun s&auml;&auml;nt&ouml;j&auml;.</p>

<a class="btn btn-outline-secondary" href="/">Takaisin etusivulle</a>
