<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Millainen sää on nyt?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">
        <img src="saalogo.png" width="100" height="100" class="d-inline-block align-top" alt="">
          
    </span>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Kaupunki" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hae</button>
        </form>
      </nav>
    </div><br>

    <div class="container">
            <div class="jumbotron">
                
                    <h1 class="display-4">Sää paikkakunnalla [Kaupunki]</h1>
                    <div class="row">
                    <img src="http://openweathermap.org/img/w/10d.png" width="75px" height="75px" class="mr-"><br>
                    <h3 class="">-10 C<br>Lumisadetta</h3>
                </div>
            
                    
                
                  </div>

    </div>



</body>

</html